<h1>Games in Development</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.description %></td>
        <td><%= game.user.username %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: {confirm: 'Are you sure?' } %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
 <%= link_to 'New Game', new_game_path %>
<% end %>

